header {
    width: 100%;
    height: 6em;
    top: 0;
    background-color: #FFFFFF;
}

body {
    font: 16px Helvetica, Arial, sans-serif;
    background-color: hsla(160, 50%, 40%, 0.8);
    overflow: auto;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

html {
    overflow: hidden;
    height: 100%;
}

* {
    box-sizing: border-box;
}

.header-wrapper {
    width: 100%;
    margin: 0;
    margin-bottom: 40px;
}

.wrapper {
    width: 95%;
    margin: 0 auto;
    padding: 2em;
    background-color: #FFFFFF;
}

.home-content {
    padding: 10em;
    text-align: center;
}

nav {
    margin-top: 2.7em;
    margin-right: 3em;
    text-align: center;
    float: right;
}

header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    align-content: center;
}

header nav ul li {
    float: left;
    margin-left: 3em;
    display: block;
}

header nav a {
    color: hsla(280, 100%, 30%, 1);
    text-decoration: none;
    font-size: 1.5em;
    letter-spacing: .2em;
    font-weight: bolder;
}

header img {
    float: left;
}

.score-wrapper input[type=text] {
    border: 0.1em solid hsla(1, 0%, 65%, 1);
    width: 2.6em;
    height: 1.2em;
}

.score-wrapper {
    margin: 0 auto;
    padding-left: 30px;
}

.teams-wrapper {
    padding: 0.8em;
}

.score-wrapper label {
    display: block;
}

.team-table {
    display: block;
    height: 600px;
    max-width: 910px;
    margin: 0 auto;
    overflow: auto;
}

.team-table a, th {
    font-family: 'Exo', sans-serif;
    letter-spacing: 0.075em;
}

.team-table-header {
    padding-left: 195px;
}

.team-log-table {
    display: block;
    height: 700px;
    max-width: 875px;
    margin: 0 auto;
    overflow: auto;
}

.players-log-total-table {
    display: inline-block;
    height: 220px;
    margin-left: 37px;
    max-width: 700px;
    overflow: auto;
}

.team-log-total-table {
    display: block;
    height: 130px;
    max-width: 800px;
    margin: 0 auto;
    overflow: auto;
}

.team-log-chart {
    margin: 0 auto;
}

.players-log-table {
    display: block;
    max-height: 600px;
    max-width: 1083px;
    margin: 0 auto;
    overflow: auto;
}

.players-log-header {
    padding-left: 45px;
}

.players-table {
    display: block;
    height: 600px;
    max-width: 1027px;
    margin: 0 auto;
    overflow: auto;
}

.players-total-header {
    padding-left: 137px;
}

.players-table thead, tbody {
    width: 100%;
}

.players-table a, th {
    font-family: 'Exo', sans-serif;
    letter-spacing: 0.075em;
}

table, th, td {
    /*border: 1px solid black;*/
    font-family: 'Exo', sans-serif;
    border-collapse: collapse;
    vertical-align: top;
    text-align: right;
    padding: 7px;
}

table, th {
    font-size: 0.9rem;
}

table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.8rem;
}

.header-column {
    text-align: left;
    width: auto;
}

.data-column {
    width: auto;
    /*width: 2.5em;*/
}

tbody tr:hover {
    background-color: hsla(55, 80%, 80%, 0.7);
}

thead th {
    background-color: hsla(160, 50%, 75%, 1);
    color: black;
}

thead th:hover {
    cursor: pointer;
}

tr:nth-child(even) {
    background: hsla(1, 0%, 70%, 0.8);
}
