header {
    width: 100%;
    height: 6em;
    top: 0;
    background-color: #FFFFFF;
}

body {
    font: 16px Helvetica, Arial, sans-serif;
    background-color: hsla(160, 50%, 50%, 1);
    overflow: auto;
    height: 100%
}

html {
    overflow: hidden;
    height: 100%;
}

* {
    box-sizing: border-box;
}

.header-wrapper {
    width: 100%;
    margin: 0;
    margin-bottom: 40px;
}

.wrapper {
    width: 95%;
    margin: 0 auto;
    padding: 2em;
    background-color: #FFFFFF;
}

.home-content {
    padding: 10em;
    text-align: center;
}

nav {
    margin-top: 2.7em;
    margin-right: 3em;
    text-align: center;
    float: right;
}

header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    align-content: center;
}

header nav ul li {
    float: left;
    margin-left: 3em;
    display: block;
}

header nav a {
    color: hsla(280, 100%, 30%, 1);
    text-decoration: none;
    font-size: 1.5em;
    letter-spacing: .2em;
    font-weight: bolder;
}

header img {
    float: left;
}

input[type=text] {
    border: 0.1em solid hsla(1, 0%, 65%, 1);
    width: 1.6em;
    height: 1.2em;
    maxlength: 2;
}

.score-wrapper, .teams-wrapper {
    padding: 0.8em;
}

.score-wrapper label {
    margin-top: 0.5em;
}

.score-wrapper label {
    display: block;
}

.team-table {
    /*display: block;*/
    height: 500px;
    margin: 0 auto;
    /*overflow-y: scroll;*/
    overflow-x: scroll;
}

.team-table a, th {
    font-size: 1.1em;
    font-family: 'Exo', sans-serif;
    letter-spacing: 0.075em;
}

.table-nav {

}

/*.teams-wrapper a, th {
    font-size: 1.1em;
    font-family: 'Exo', sans-serif;
    letter-spacing: 0.075em;
}*/

.players-table {
    /*display: block;*/
    height: 500px;
    margin: 0 auto;
    /*overflow-y: scroll;*/
    overflow-x: scroll;
}
.players-table a, th {
    font-size: 1.1em;
    font-family: 'Exo', sans-serif;
    letter-spacing: 0.075em;
}

table, th, td {
    /*border: 1px solid black;*/
    border-collapse: collapse;
    vertical-align: top;
    text-align: right;
    padding: 7px;
}

table, th {
    font-size: 0.9rem;
}

table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.8rem;
}

.header-column {
    text-align: left;
    width: auto;
}

.data-column {
    width: 2.5em;
}

tbody tr:hover {
    background-color: hsla(55, 80%, 80%, 0.7);
}

thead th {
    background-color: hsla(160, 50%, 75%, 1);
    color: black;
}

thead th:hover {
    cursor: pointer;
}
