<td class="header-column"><a ui-sref="player.name({name: player.name})">{{player.name}}</a></td>
<td>{{player.team}}</td>
<td>{{player.position}}</td>
<td>{{player.games_played}}</td>
<td>{{player.games_started}}</td>
<td>{{player.attempts}}</td>
<td>{{player.completions}}</td>
<td>{{player.pass_yards}}</td>
<td>{{player.pass_tds}}</td>
<td>{{player.interceptions}}</td>
<td>{{player.carries}}</td>
<td>{{player.rush_yards}}</td>
<td>{{player.rush_tds}}</td>
<td>{{player.targets}}</td>
<td>{{player.receptions}}</td>
<td>{{player.rec_yards}}</td>
<td>{{player.rec_tds}}</td>
<td>{{player.fantasy | number:2}}</td>
