<td class="data-column">{{player.week - 1 | number}}</td>
<td class="data-column">{{player.opponent}}</td>
<td class="data-column">{{(player.home) ? 'Home': 'Away'}}</td>
<td class="data-column">{{player.attempts}}</td>
<td class="data-column">{{player.completions}}</td>
<td class="data-column">{{player.pass_yards}}</td>
<td class="data-column">{{player.pass_tds}}</td>
<td class="data-column">{{player.interceptions}}</td>
<td class="data-column">{{player.pass_long}}</td>
<td class="data-column">{{player.times_sacked}}</td>
<td class="data-column">{{player.targets}}</td>
<td class="data-column">{{player.receptions}}</td>
<td class="data-column">{{player.rec_yards}}</td>
<td class="data-column">{{player.rec_tds}}</td>
<td class="data-column">{{player.rec_long}}</td>
<td class="data-column">{{player.carries}}</td>
<td class="data-column">{{player.rush_yards}}</td>
<td class="data-column">{{player.rush_tds}}</td>
<td class="data-column">{{player.rush_long}}</td>
<td class="data-column">{{player.fumbles}}</td>
<td class="data-column">{{player.fumbles_lost}}</td>
<td class="data-column">{{player.fantasy | number:2}}</td>
