<div class="score-wrapper">
    <form ng-submit="submitScore(view.settings.passTD, view.settings.int, view.settings.passYD, view.settings.rushTD, view.settings.rushYD, view.settings.recTD, view.settings.rec, view.settings.recYD)">
        <h2>Please enter your preferred scoring settings:</h2>
        <h3>Passing</h3>
        <label><strong>Passing Touchdowns: </strong><input type=text ng-model="view.settings.passTD" value="6" maxlength="2"> Points</label>
        <label><strong>Interceptions: - </strong><input type=text ng-model="view.settings.int" value="2" maxlength="2"> Points</label>
        <label><strong>Passing Yards: </strong><input type=text ng-model="view.settings.passYD" value="25" maxlength="2"> Yards = 1 Point</label>
        <h3>Rushing</h3>
        <label><strong>Rushing Touchdowns: </strong><input type=text ng-model="view.settings.rushTD" value="6" maxlength="2"> Points</label>
        <label><strong>Rushing Yards: </strong><input type=text ng-model="view.settings.rushYD" value="10" maxlength="2"> Yards = 1 Point</label>
        <h3>Receiving</h3>
        <label><strong>Receiving Touchdowns: </strong><input type=text ng-model="view.settings.recTD" value="6" maxlength="2"> Points</label>
        <label><strong>Receptions: </strong><input type=text ng-model="view.settings.rec" value="0" maxlength="2"> Points</label>
        <label><strong>Receiving Yards: </strong><input type=text ng-model="view.settings.recYD" value="10" maxlength="2"> Yards = 1 Point</label>
        <input type="submit" value="Submit">
    </form>
</div>
