<th class="data-column">{{team.week - 1}}</th>
<th class="data-column">{{team.opponent}}</th>
<th class="data-column">{{(team.home) ? 'Home': 'Away'}}</th>
<td class="data-column">{{(team.record === 'Bye Week') ? ' ' : team.record}}</td>
<th class="data-column">{{(team.result === 'Bye Week') ? ' ' : team.result}}</th>
<th class="data-column">{{team.points_for}}</th>
<th class="data-column">{{team.points_against}}</th>
<th class="data-column">{{team.total_yards_for}}</th>
<th class="data-column">{{team.pass_yards_for}}</th>
<th class="data-column">{{team.rush_yards_for}}</th>
<th class="data-column">{{team.turnovers_forced}}</th>
<th class="data-column">{{team.total_yards_against}}</th>
<th class="data-column">{{team.pass_yards_against}}</th>
<th class="data-column">{{team.rush_yards_against}}</th>
<th class="data-column">{{team.turnovers_lost}}</th>
