<div class="pure-g">
    <div class="pure-u-md-1-1">
        <table class="team-log-total-table pure-table-horizontal">
            <thead>
                <tr>
                    <th class="data-column" ng-click="sortType = 'points'; changeChartData(sortType)">City</th>
                    <th class="data-column" ng-click="sortType = 'points'; changeChartData(sortType)">Team</th>
                    <th class="data-column" ng-click="sortType = 'points'; changeChartData(sortType)">Season</th>
                    <th class="data-column" ng-click="sortType = 'points'; changeChartData(sortType)">Points</th>
                    <th class="data-column" ng-click="sortType = 'total_yards'; changeChartData(sortType)">Total YDs</th>
                    <th class="data-column" ng-click="sortType = 'attempts'; changeChartData(sortType)">Att</th>
                    <th class="data-column" ng-click="sortType = 'completions'; changeChartData(sortType)">Cmp</th>
                    <th class="data-column" ng-click="sortType = 'pass_yards'; changeChartData(sortType)">Pass YDs</th>
                    <th class="data-column" ng-click="sortType = 'pass_tds'; changeChartData(sortType)">Pass TDs</th>
                    <th class="data-column" ng-click="sortType = 'interceptions'; changeChartData(sortType)">Int</th>
                    <th class="data-column" ng-click="sortType = 'carries'; changeChartData(sortType)">Carries</th>
                    <th class="data-column" ng-click="sortType = 'rush_tds'; changeChartData(sortType)">Rush TDs</th>
                    <th class="data-column" ng-click="sortType = 'rush_yards'; changeChartData(sortType)">Rush Yards</th>
                    <th class="data-column" ng-click="sortType = 'turnovers'; changeChartData(sortType)">Turnovers</th>
                </tr>
            </thead>
            <tbody>
                    <td><strong>{{view.displayLogs[0].city}}</strong></td>
                    <td><strong>{{view.displayLogs[0].team}}</strong></td>
                    <td>{{view.displayLogs[0].season}}</td>
                    <td>{{view.displayLogs[0].points}}</td>
                    <td>{{view.displayLogs[0].total_yards}}</td>
                    <td>{{view.displayLogs[0].attempts}}</td>
                    <td>{{view.displayLogs[0].completions}}</td>
                    <td>{{view.displayLogs[0].pass_yards}}</td>
                    <td>{{view.displayLogs[0].pass_tds}}</td>
                    <td>{{view.displayLogs[0].interceptions}}</td>
                    <td>{{view.displayLogs[0].carries}}</td>
                    <td>{{view.displayLogs[0].rush_tds}}</td>
                    <td>{{view.displayLogs[0].rush_yards}}</td>
                    <td>{{view.displayLogs[0].turnovers}}</td>
            </tbody>
        </table>
    </div>
</div>
<div class="pure-g">
    <div class="pure-u-md-1-1">
        <canvas id="line" height="200" width="500" class="chart chart-line team-log-chart" chart-data="data"
        chart-labels="view.weeks" chart-dataset-override="datasetOverride" chart-options="options">
        </canvas>
    </div>
</div>
<div class="pure-g">
    <div class="pure-u-md-1-1">
        <table class="team-log-table pure-table-horizontal">
            <thead>
                <tr>
                    <th class="data-column" ng-click="sortType = 'week'; changeChartData(sortType)">Wk</th>
                    <th class="data-column" ng-click="clicky()">Opp</th>
                    <th class="data-column"></th>
                    <th class="data-column">Record</th>
                    <th class="data-column">Result</th>
                    <th class="data-column" ng-click="sortType = 'points_for'; changeChartData(sortType)">Points For</th>
                    <th class="data-column" ng-click="sortType = 'points_against'; changeChartData(sortType)">Points VS</th>
                    <th class="data-column" ng-click="sortType = 'total_yards_for'; changeChartData(sortType)">ToT Yards For</th>
                    <th class="data-column" ng-click="sortType = 'pass_yards_for'; changeChartData(sortType)">Pass Yards For</th>
                    <th class="data-column" ng-click="sortType = 'rush_yards_for'; changeChartData(sortType)">Rush Yards For</th>
                    <th class="data-column" ng-click="sortType = 'turnovers_forced'; changeChartData(sortType)">TOs Frcd</th>
                    <th class="data-column" ng-click="sortType = 'total_yards_against'; changeChartData(sortType)">ToT Yards VS</th>
                    <th class="data-column" ng-click="sortType = 'pass_yards_against'; changeChartData(sortType)">Pass Yards VS</th>
                    <th class="data-column" ng-click="sortType = 'rush_yards_against'; changeChartData(sortType)">Rush Yards VS</th>
                    <th class="data-column" ng-click="sortType = 'turnovers_lost'; changeChartData(sortType)">TOs Lost</th>
                </tr>
            </thead>
            <tbody>
                <tr ft-team-logs ng-repeat="team in view.displayLogs | orderBy:'week'"></tr>
            </tbody>
        </table>
    </div>
</div>
